<h2>Contacts</h2>
<hr>

  <div class="col-sm-3">
    <b>Search</b> 
    <input class="form-control" id="search" ng-model="vm.search" ng-change="vm.setTotalItems()">
  </div>

  <div class="col-sm-2">
    <b>Items per page </b>
    <select class="form-control" ng-model="vm.itemsPerPage" ng-options="opt for opt in vm.optItemsPerPage"></select>
  </div>

  <div class="col-sm-2 pull-right">
    <button onclick="location.href='#/new-contact'" class="btn  btn-primary btn-lg ">New contact</button>
  </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <a ng-click="vm.sort('first_name')">
          Name <span class="glyphicon" ng-class ="{'glyphicon-chevron-up': vm.isSortUp('first_name'),
                                                'glyphicon-chevron-down': vm.isSortDown('first_name')}"></span>
        </a>
      </th>
      <th>
        <a ng-click="vm.sort('email')">
          Email <span class="glyphicon" ng-class ="{'glyphicon-chevron-up': vm.isSortUp('email'),
                                                'glyphicon-chevron-down': vm.isSortDown('email')}"></span>
        </a>
      </th>
      <th>
        <a ng-click="vm.sort('phone')">
          Phone <span class="glyphicon" ng-class ="{'glyphicon-chevron-up': vm.isSortUp('phone'),
                                                'glyphicon-chevron-down': vm.isSortDown('phone')}"></span>
        </a>
      </th>
      <th>
        <a ng-click="vm.sort('company')">
          Company <span class="glyphicon" ng-class ="{'glyphicon-chevron-up': vm.isSortUp('company'),
                                                'glyphicon-chevron-down': vm.isSortDown('company')}"></span>
        </a>
      </th>
      <th>
        <a ng-click="vm.sort('birth_date')">
          Date of birth <span class="glyphicon" ng-class ="{'glyphicon-chevron-up': vm.isSortUp('birth_date'),
                                                'glyphicon-chevron-down': vm.isSortDown('birth_date')}"></span>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contact in vm.contacts | orderBy:vm.sortField:vm.reverse | pagination:vm.currentPage:vm.itemsPerPage | limitTo:vm.itemsPerPage">
      <td><a ng-href="#/{{contact.id}}" ng-bind="contact.first_name + ' ' + contact.last_name"></a></td>
      <td ng-bind="contact.email"></td>
      <td ng-bind="contact.phone"></td>
      <td ng-bind="contact.company"></td>
      <td ng-bind="contact.birth_date"></td>
    </tr>
  </tbody>
</table>

<pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage"></pagination>