.logo{
    float: left;
    margin-left: 50px;
}


.clearfix:after { 
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}

.nav{
    position: absolute;
    right:30px;
}

.nav ul{
    right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li{
    display: inline-block;

}