body {
  margin: 0;
  padding: 0;
}
.grid #canvas {
  position: absolute;
  display: block;
  cursor: default;
}
.left-block {
  position: absolute;
  right: 30px;
}
.left-block .controls,
.left-block .config {
  vertical-align: top;
  width: 100px;
  margin-top: 30px;
  z-index: 10;
}
.left-block .controls .input-group,
.left-block .config .input-group {
  margin-bottom: 10px;
}
.left-block .controls .colorpicker input,
.left-block .config .colorpicker input,
.left-block .controls .actions input,
.left-block .config .actions input {
  background: #ccc;
  height: 40px;
}
.left-block .controls .colorpicker button,
.left-block .config .colorpicker button,
.left-block .controls .actions button,
.left-block .config .actions button {
  display: block;
  width: 50px;
  height: 30px;
  background: #ccc;
  outline: none;
}
.left-block .controls .colorpicker button:first-child,
.left-block .config .colorpicker button:first-child,
.left-block .controls .actions button:first-child,
.left-block .config .actions button:first-child {
  border-bottom: 0px;
}
.left-block .controls .colorpicker button:last-child,
.left-block .config .colorpicker button:last-child,
.left-block .controls .actions button:last-child,
.left-block .config .actions button:last-child {
  border-top: 0px;
}
.left-block .controls .colorpicker .selected,
.left-block .config .colorpicker .selected,
.left-block .controls .actions .selected,
.left-block .config .actions .selected {
  color: #ccc;
  background: #333;
}
